{{ partial "head" . }}
  <body>
    <div id="wrap">

      <!-- Header -->
      {{ partial "header" . }}
      {{ if isset .Params "projectspage" }}
        {{ .Render "projects" }}
      {{ else if isset .Params "resumepage" }}
        {{ .Render "resume" }}
      {{ else if isset .Params "publickeypage" }}
        {{ .Render "pubkey" }}
      {{ else if isset .Params "photospage" }}
        {{ .Render "photos" }}
      {{ else }}
        {{ .Render "blog_post" }}
      {{ end }}
    </div>

    <!-- Footer -->
    {{ partial "footer" . }}
    
  </body>
</html>
